.button {
    display: inline-block;
    width: 20vw;
    height: 20vh;
    border: 2px solid rgb(63, 58, 58);
    border-radius: 10%;
    transition: width height ;
    transition-duration: 0.8s;
}

.button:hover {
    border: 2px solid white;
    height: 30vh;
    width: 30vw;
}

#grey {
    background-color: grey;
}

#yellow {
    background-color: rgb(240, 240, 121);
}

#blue {
    background-color: rgb(86, 86, 239);
}

#white {
    background-color: rgb(238, 107, 107);
}